<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445939095970-pguhiauso078fjnplu2947ker2mb2j87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445939095970-pguhiauso078fjnplu2947ker2mb2j87</string>
	<key>API_KEY</key>
	<string>AIzaSyCp4zXY3BXE5E_o4NkxWJf6ksnpUXMPBtk</string>
	<key>GCM_SENDER_ID</key>
	<string>445939095970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lawyer</string>
	<key>PROJECT_ID</key>
	<string>lawer-cd736</string>
	<key>STORAGE_BUCKET</key>
	<string>lawer-cd736.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445939095970:ios:9474e33474ea82e7323afb</string>
</dict>
</plist>